*~
*.pdb
output*.dump
.build
.*.swp
bin
Makefile
tags
L34output.xml

doc/commit.txt
doc/manual/apex3manual.aux
doc/manual/apex3manual.idx
doc/manual/apex3manual.log
doc/manual/apex3manual.out
doc/manual/apex3manual.pdf
doc/manual/apex3manual.toc

