*~
.*.swp
*.skipped
*.skipped.new
*.skipped.noresults,new
*.skipped.default
*.user
*.pro.user.*
*.pdb
*.so
*.autosave
Makefile
L34output.xml
core
.Rhistory
.vimsettings
.clang-format
/.build
/bin
/experiments.tap
/tags
/tags-qt5
/localconfig.pri
/apex.pro.user
/*-results.xml
/data/doc/commit.txt
documentation/doxygen/output/
/android
pkg-config_wrapper.sh
*.so-deployment-settings.json
.qmake.stash
/node_modules
.eslintrc
eslint-errors*.tap
/.idea
CMakeLists.txt
/*cmake*
