*~
.*.swp
Makefile
L34output.xml
core
.Rhistory
.vimsettings
/.build
/bin
/tags
/localconfig.pri
/apex.pro.user
/*-results.xml
/doc/commit.txt
/data/tests/libwriters/out
documentation/doxygen/output/
/android
*pkg-config_wrapper.sh
*.so-deployment-settings.json
