#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_QMAKE_ARGS := RELEASE=1 PREFIXDIR=/usr CLEBS_DISABLED="syllib original tester hrtf sink screeneditor spin"

install/apex::
	@cd debian/apex/usr/bin && \
	for i in *; do \
	    [ "$$i" != "apex" ] && rm -rf "$$i"; \
	done

$(patsubst %,binary-install/%,$(DEB_PACKAGES)) :: binary-install/%:
	$(if $(wildcard /usr/bin/dh_desktop),dh_desktop -p$(cdbs_curpkg))
	$(if $(wildcard /usr/bin/dh_icons),dh_icons -p$(cdbs_curpkg))
